
#edit-file {
    #head-menu {
        width: 100%;
        text-align: right;
    }

}

#files {
    .file-list {

        width: 100%;
        border-collapse: collapse;
        color: #444;
        font-size: 14px;

        li {
            border-bottom: 1px solid #ddd;
            padding: 8px;

            .icon {
                display: inline-block;
                width: 20px;
            }

            .name {
                display: inline-block;
                width: 300px;
            }

            .type {
                display: inline-block;
                width: 300px;
            }
        }

    }
}

#files-popup {
    padding: 15px;
    .find {
        text-align: right;
    }
}


#upload-file {

    .title {
        vertical-align: top;
        display: inline-block;
        line-height: 50px;
        width: 70%;
        text-align: left;
        margin-right: -4px;
    }

    .menu-buttons {
        vertical-align: top;
        width: 30%;
        display: inline-block;
        text-align: right;
        line-height: 30px;
        margin-right: -4px;
    }

    #files-list {

        .file-item {
            border-bottom: 1px solid #ddd;
            padding: 8px;
        }

    }

}