#pages {

    .title {
        vertical-align: top;
        display: inline-block;
        line-height: 50px;
        width: 70%;
        text-align: left;
        margin-right: -4px;
    }

    .menu-buttons {
        vertical-align: top;
        width: 30%;
        display: inline-block;
        text-align: right;
        line-height: 30px;
        margin-right: -4px;
    }
    
}
